# Set the key for whichever model provider you configured in config.yaml
ANTHROPIC_API_KEY=        # required if using anthropic:* models
OPENAI_API_KEY=           # required if using openai:* models
GOOGLE_API_KEY=           # required if using google-gla:* models

# AT SOME POINT WE WILL NEED TO FIGURE OUT A WAY TO MAKE THIS IMPLEMENTATION EASY, TO ALLOW USERS TO JUST ADD WITH A CLICK OR SIMPLY